html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

header p {
  margin: 5px 0;
}

nav {
  background-color: #555;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #444;
}

section {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.perfil {
  position: absolute;
  top: 10px;
  left: 30px;
  margin-top: 10px;
}

.perfil img {
  width: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
